parameters:
	ignoreErrors:
		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: src/Configuration/Config.php

		-
			message: "#^Property Keboola\\\\TransformationMigrate\\\\FunctionalTests\\\\DatadirTest\\:\\:\\$output \\(array\\) does not accept mixed\\.$#"
			count: 1
			path: tests/functional/DatadirTest.php

		-
			message: "#^Parameter \\#1 \\$transformationBucketId of method Keboola\\\\TransformationMigrate\\\\FunctionalTests\\\\DatadirTest\\:\\:setTransformationBucketId\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: tests/functional/merge-columns-combine-tables-columns/setUp.php

		-
			message: "#^Parameter \\#1 \\$transformationBucketId of method Keboola\\\\TransformationMigrate\\\\FunctionalTests\\\\DatadirTest\\:\\:setTransformationBucketId\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: tests/functional/merge-columns-first-full-columns/setUp.php

		-
			message: "#^Parameter \\#1 \\$transformationBucketId of method Keboola\\\\TransformationMigrate\\\\FunctionalTests\\\\DatadirTest\\:\\:setTransformationBucketId\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: tests/functional/merge-columns-second-full-columns/setUp.php

		-
			message: "#^Parameter \\#1 \\$transformationBucketId of method Keboola\\\\TransformationMigrate\\\\FunctionalTests\\\\DatadirTest\\:\\:setTransformationBucketId\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: tests/functional/migrate-different-input-mapping-filters/setUp.php

		-
			message: "#^Parameter \\#1 \\$transformationBucketId of method Keboola\\\\TransformationMigrate\\\\FunctionalTests\\\\DatadirTest\\:\\:setTransformationBucketId\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: tests/functional/migrate-empty-transformation/setUp.php

		-
			message: "#^Parameter \\#1 \\$transformationBucketId of method Keboola\\\\TransformationMigrate\\\\FunctionalTests\\\\DatadirTest\\:\\:setTransformationBucketId\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: tests/functional/migrate-simple-transformation/setUp.php

		-
			message: "#^Parameter \\#1 \\$transformationBucketId of method Keboola\\\\TransformationMigrate\\\\FunctionalTests\\\\DatadirTest\\:\\:setTransformationBucketId\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: tests/functional/migrate-transformation-description/setUp.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 10
			path: tests/functional/sorting-transformations/setUp.php

		-
			message: "#^Parameter \\#1 \\$arr1 of function array_merge expects array, mixed given\\.$#"
			count: 7
			path: tests/functional/sorting-transformations/setUp.php

		-
			message: "#^Parameter \\#1 \\$transformationBucketId of method Keboola\\\\TransformationMigrate\\\\FunctionalTests\\\\DatadirTest\\:\\:setTransformationBucketId\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: tests/functional/sorting-transformations/setUp.php
